## .NET / C#
bin/
obj/
*.user
*.suo
.vs/
.idea/
*.DS_Store
appsettings.Development.json

## Environnement
.env
*.env.local

## NuGet
packages/
*.nupkg

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## Publish
publish/
